/* Navigation bar */
.nav-current span {
  font-weight: bold;
}

/* Projects section styling */
.project-title {
  line-height: 2;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

section.main .content .project-content p,
section.main .content .project-content code,
.project-content li {
  font-size: 95%;
}

.project-github {
  line-height: 3;
}


/* Markdown */
.markdown li {
  margin-left: 3em;
}