/* Title */
section.header .name {
  font-size: 1.2em;
}

section.header h3.self-intro {
  font-size: 1.07em;
}

/* Navigation bar */
.nav-current span {
  font-weight: bold;
}

nav span {
  font-size: 111%;
}

/* Projects section styling */
.project-title {
  line-height: 2;
  cursor: pointer;
}

.project-title:hover {
  font-weight: bold;
}

.project-source {
  font-size: 10px;
  text-transform: lowercase;
}

.hidden {
  display: none;
}

.active {
  font-weight: bold;
  border-bottom: 1px solid black;
}

section.main .content .project-content p,
section.main .content .project-content code,
.project-content li {
  font-size: 95%;
}

.project-github {
  line-height: 3;
}

/** Markdown */
section.main .content .markdown li {
  margin-left: 3em;
}
